@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap");

*{
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* background */
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px;
  --width: 1440px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0d263b;
  margin-bottom: 10px;
}
.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #0d263b;
  margin-bottom: 15px;
}
.ant-checkbox-wrapper+.ant-checkbox-wrapper{
  margin-inline-start: 0;
}
.ant-image{
  height: 100%;
  width: 100%;
}
/* :where(.css-dev-only-do-not-override-1vtf12y).ant-btn-default:not(:disabled):hover{
  color: #fff;
} */
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--colorSecondary);
}
.text-center{
  text-align: center;
}
.expired {
  text-decoration: line-through;
}

/* Loader */

@keyframes ldio-zuiq12336es {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-zuiq12336es div {
  animation: ldio-zuiq12336es 0.8s linear infinite;
  width: 180.18px;
  height: 180.18px;
  border-radius: 50%;
  box-shadow: 0 8.082px 0 0 #0061df;
  transform-origin: 90.09px 92.631px;
}
.loadingio-spinner-eclipse-uj9g0i1zicp {
  display: inline-block;
  background: none;
  transform: scale(0.3);
  display: block;
  margin: auto;
}
.ldio-zuiq12336es {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zuiq12336es div { box-sizing: content-box; }

/* Animation */
@keyframes ldio-apu9uy8hnoa {
  0% { background: #0061df }
  25% { background: #0061df }
  25.25% { background: #0d263b }
  100% { background: #0d263b }
}
.ldio-apu9uy8hnoa div {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #0d263b;
  animation: ldio-apu9uy8hnoa 0.7042253521126761s linear infinite;
}
.loadingio-spinner-blocks-24jy9a6j76r {
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  background: none;
  margin: auto;
}
.ldio-apu9uy8hnoa {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-apu9uy8hnoa div { box-sizing: content-box;}